/*===========================================================================*/
/*======================== HTML PAGE ========================================*/
/*===========================================================================*/
/* To add margins and use large side menu when the screen is large */
@media (min-width: 70em) {
html {
  min-height: 100%;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  min-width: 35em;
}
body {
  max-width: 70em;
  height: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Noto Sans', sans-serif;
}
.wad-side-menu{
  width: 14em;
}
#wad-side-menu-collapsed{
  display: none;
}
}
/*===========================================================================*/
/*======================== HTML PAGE ========================================*/
/*===========================================================================*/
/* To eliminate background image and margins, and use small side menu when the
screen is small */
@media (max-width: 70em) {
html {
  background-color: #fff;
  min-width: 35em;
}
body {
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.wad-side-menu{
  width: 3em;
}
#wad-side-menu-opened{
  display:none;
}
}
/*===========================================================================*/
/*======================== HEADER ===========================================*/
/*===========================================================================*/
header {
  background-color: #fff;
  margin: 0;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #ddd;
  padding: 15px;
  text-align: center;
  height: 60px;
}
header > div, img {
  display: inline-block;
  vertical-align: middle;
}
#wad-header-doctor-info {
  float: right;
}
#wad-header-doctor-pic {
  border-radius: 30px;
  margin-left: 10px !important;
}
/*===========================================================================*/
/*======================== FOOTER ===========================================*/
/*===========================================================================*/
footer{
  background: #fff;
  margin:0;
  border-top-style:solid;
  border-top-width:2px;
  border-color:#ddd;
  padding:10px;
  text-align:right;
  font-size: 0.6em;
}
/*===========================================================================*/
/*======================== DATE TIME ========================================*/
/*===========================================================================*/
#wad-header-date-time {
  float: left;
  text-align: left;
  margin-top:10px;
}
/*===========================================================================*/
/*======================== UNDEFINED!!!!!!!!!!! =============================*/
/*===========================================================================*/


/*onde se usa isto???????????????*/


.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index: 1002;
  overflow: auto;
}
/*===========================================================================*/
/*======================== SIDE MENU ========================================*/
/*===========================================================================*/
.wad-side-menu{
  display: inline-block;
  vertical-align: top;
  background-color: #ddd;
  min-height: 500px;
  margin:0;
}
.wad-side-menu-button{
  width:auto;
  margin:10px;
  padding:5px;
  background-color: #eee;
  text-align:center;
  color:#333;
  font-size: 0.9em;
}
.wad-side-menu-button-active{
  width:auto;
  margin:10px;
  padding:5px;
  background-color: #548235;
  text-align:center;
  color:#fff;
  font-size:0.9em;
}
#wad-side-menu-collapse-button {
  text-align: right;
  margin:15px;
  color:#bbb;
}
#wad-side-menu-collapse-button a{
  color:inherit;
}
/*===========================================================================*/
/*======================== BODY CONTENT =====================================*/
/*===========================================================================*/
.wad-body-content{
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.wad-body-content-login{
  padding: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  background-color: #eee;
  width: 100%;
}
.wad-body-content-login-img{
  margin-top: 200px;
}
.login-form{
  text-align: center;
  margin-bottom: 100px;
}
.wad-body-content-title{
  text-align: right;
  background: #eee;
  font-size:1.6em;
}
.wad-body-content-title-login{
  text-align: center;
  background: #eee;
  font-size:1.6em;
  margin-top:20px;
  margin-bottom: 50px;
}
/*Formatação dos campos internos - Manage My Info*/
/*Subtitulo*/
.wad-body-content-internal{
  text-align: left;
  background:#eee;
  font-size:1.6em;
}

.wad-body-content-internal ul{
  padding:0;
}

/*Componentes Manage My Info*/
.wad-body-content-internal-fields{
  text-align: left;
  background:#ddd;
  font-size:1em;
  color:#333;
}
/*===========================================================================*/
/*======================== CONTENTS MANAGE MY INFO ==========================*/
/*===========================================================================*/

label{
  display:inline-block;
  width:190px;
  margin-bottom:10px;
  padding-top:1em;
  padding-left:1em;
}
.input-text{
  /*display: table-cell;*/
  text-align: right;
  padding-right: 2%;
  width: 15%
}
.input-box{
  /*display: table-cell;*/
  width:60%;
  color: #919191;
  font-size:1em;
}
.input-box-half{
  width:20.4%;
  color: #919191;
  font-size:1em;
}
input{
  display: inline-block;
}
.button-submit-edit{
  text-align: center;
  width:18.5%;
  color: #919191;
  background-color: #eee;
  font-size:1em;
  border-style: solid;
  border-color: #919191;
  border-radius: 0;
}
.wad-body{
  width: auto;
  min-height: 80%; /*500px*/
  background-color: #eee;
  display: flex;
}
.wad-body-content-box{
  text-align: left;
  background:#eee;
  margin-bottom: 30px;
}
.wad-body-content-box-login{
  text-align: left;
  background:#eee;

  margin-bottom: 30px;
}

.wad-half-body-content{
  width:50%;
}

.wad-half-body-content + .wad-half-body-content{
  margin-left:25px;
}

.wad-half-body-division{
  display: inline-flex;
  width:100%;
}
/*===========================================================================*/
/*======================== MY PATIENTS  =====================================*/
/*===========================================================================*/
.patients ul,
.patients ul li{
  float: left;
  padding:0px;
  list-style: none;
}
.patients ul{
  width:100%;
  margin-top: 20px;
}
.patients ul li{
  width: 20%;
  min-width: 140px;
  margin-bottom: 10px;
}
.patient{
  float:left;
  width: 140px;
  /*background-color: white;*/
  border-radius: 30px;
  position: relative;
}
.patient a{
  float: left;
  width: 100%;
  text-align: center;
}
.patient a.img{
  margin-top: 10px;
}
.patient a.img img{
  height: 130px;
  width: 130px;
  /*border-bottom: #BEBACE 5px solid;*/
  border-radius: 50%;
}
.patient a.name{
  font-weight: bolder;
  color: black;
  font-size:13px;
  text-decoration: none;
  margin-top: 10px;
}
.button-submit{
  text-align: center;
  width:18.5%;
  color: #919191;
  background-color: #ddd;
  font-size:1em;
  border-style: none;
  border-radius: 0;
}
/*===========================================================================*/
/*======================== PATIENT ==========================================*/
/*===========================================================================*/
.patient-photo{
 width: 20%;
 min-width: 160px;
 float: left;
}
.patient-photo a.img img{
  height: 150px;
  width: 150px;
  /*border-bottom: #BEBACE 5px solid;*/
  border-radius: 50%;
}
.patient-info{
  display: inline-block;
  text-align: left;
  text-indent: 0em;
  font-size:0.6em;
  color:#333;
}
.patient-info label{
  width:120%;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0.15em;
}
.button-submit-pat{
  text-align: center;
  background-color: #ddd;
  border-style: none;
  width:24.6%;
  color: #919191;
  font-size:1em;
}
.button-submit-pat-active{
  background-color: #548235;
  border-style: none;
  text-align:center;
  color:#E5E5E5;
  width:24.6%;

  font-size:1em;
}
.wad-body-content-title-patient{
  text-align: right;
  background: #eee;
  font-size:1.6em;
  margin-right: 20px;
}
.wad-body-content-internal-patient{
  text-align: left;
  background:#eee;
  font-size:1.6em;
  margin-right: 20px;
}
.wad-body-content-internal-fields-patient{
  text-align: left;
  background:#ddd;
  border-color:#ddd;
  font-size:1em;
  color:#333;
  margin-right: 20px;
}


/*===========================================================================*/
/*======================== POPUP ============================================*/
/*===========================================================================*/

.wad-popup{
  visibility: hidden;
  max-width: 45em;
  margin: 0 auto;
  background: rgba(50,50,50,0.9);
  min-height:200px;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  color:#eee;
  padding: 15px;
  text-align: center;
}
.wad-popup-icon{
  float:right;
}
.wad-popup a{
  color:inherit;
}
#wad-doctor-popup-pic{
  border-radius: 75px;
}
#wad-doctor-popup-name{
  margin: 20px;
  font-weight:bold;
  font-size: 1.2em;
}
.wad-popup-button{
  max-width:20em;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom:10px;
  padding: 10px;
  background:#555;
}
.wad-popup-submit{
  max-width:20em;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom:10px;
  padding: 10px;
  background:#555;
  border-style: none;
  color:#ddd;
}
.wad-popup-title{
  margin: 20px;
  font-weight:bold;
  font-size: 1.2em;
}









/*====================================================================||||===*/
/*======================== CALENDAR !!!===============================||||===*/
/*====================================================================||||===*/
/* Calendar (retirado de w3schools) ===========================================
===================== */
/* Month header */
.month {
    padding: 10px 25px;
    background: #548235;
    text-align: center;
}
/* Month list */
.month ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.month ul li {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/* Previous button inside month header */
.month .prev {
    float: left;
}
/* Next button */
.month .next {
    float: right;
}
/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}
.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}
/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}
.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:1em;
    color:#777;
}
/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #ccc;
    color: white !important
}
/*===========================================================================*/
/*======================== END ==============================================*/
/*===========================================================================*/
